@model IEnumerable<Nhom1_LapTrinhWeb_CNTT2_K61.Models.DaiLy>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCooperator.cshtml";
}
<div class="head-title">
    <div class="left">
        <h1>List Cooperator</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Cooperator</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>List Cooperator</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Address
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDaiLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenDaiLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sdt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    <button class="btn-edit">
                                        <a asp-action="EditCooperator" asp-route-maDaily="@item.MaDaiLy">Edit</a>
                                    </button>
                                    <button class="btn-delete">
                                        <a asp-action="Delete" asp-route-maDaily="@item.MaDaiLy">Delete</a>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-delete {
        display: inline-block;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #090909;
        padding: 0.3em 1em;
        font-size: 12px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }

        .btn-delete:active {
            color: #666;
            box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
        }

        .btn-delete:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
            top: 100%;
            width: 140%;
            height: 180%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        .btn-delete:after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: #EA5455;
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        .btn-delete:hover {
            color: #ffffff;
            border: 1px solid #EA5455;
        }

            .btn-delete:hover:before {
                top: -35%;
                background-color: #EA5455;
                transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            }

            .btn-delete:hover:after {
                top: -45%;
                background-color: #EA5455;
                transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            }
    .btn-edit {
        display: inline-block;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        z-index: 1;
        color: #090909;
        padding: 0.3em 1em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }

        .btn-edit:active {
            color: #666;
            box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
        }

        .btn-edit:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
            top: 100%;
            width: 140%;
            height: 180%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        .btn-edit:after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: #F7DB6A;
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }

        .btn-edit:hover {
            color: #ffffff;
            border: 1px solid #F7DB6A;
        }

            .btn-edit:hover:before {
                top: -35%;
                background-color: #F7DB6A;
                transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            }

            .btn-edit:hover:after {
                top: -45%;
                background-color: #F7DB6A;
                transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            }

</style>