@model IEnumerable<Nhom1_LapTrinhWeb_CNTT2_K61.Models.DaiLy>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCooperator.cshtml";
}
<div class="head-title">
    <div class="left">
        <h1>List Cooperator</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Cooperator</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane active">
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>List Cooperator</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Address
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaDaiLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenDaiLy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sdt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    <button asp-action="EditTour" asp-route-maTour="@item.MaDaiLy">Edit</button>
                                    <button asp-action="Details" asp-route-id="@item.MaDaiLy">Details</button>
                                    <button asp-action="Delete" asp-route-id="@item.MaDaiLy">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>