@{
    ViewData["Title"] = "History";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../Template/TemplateMyAccount/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/bootstrap.min.css">
	<link href="../Assets/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
	<link href="../Assets/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="../Assets/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->

    <!-- Style -->
    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/style.css">
    <link rel="stylesheet" href="../Template/TemplateMyAccount/css/custom.css">
    <title>My Account</title>
	<style>
		.row {
			height: 450px;
			margin-bottom: 18px;
		}
	</style>
</head>
<body class="show-sidebar" style="width:80%">
    <aside class="sidebar">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">

            <div class="profile">
                <img src="../Template/TemplateMyAccount/images/person_xinh.jpg" alt="Image" >
				<h3 class="name">@ViewBag.tenKhach</h3>
                <span class="country">Web Designer</span>
            </div>


            <div class="nav-menu">
                <ul>
					<li><a asp-controller="HomeCustomer" asp-action="MyAccount"><span class="icon-account_box mr-3"></span>Account</a></li>
                    <li> <a asp-controller="HomeCustomer" asp-action="History"><span class="icon-history mr-3"></span>History</a></li>
					<li><a asp-controller="HomeCustomer" asp-action="Index"><i class="fas fa-arrow-left"></i> Previous Page</a></li>
                    <li><a href="#"><span class="icon-sign-out mr-3"></span>Sign out</a></li>
                </ul>
            </div>
        </div>

    </aside>
	<main >
        <div class="site-section">
            <div class="container">
				<h1 style="font-weight: bold; text-align: center;margin-bottom:20px">Lịch sử đặt Tour của bạn</h1>

              
					@foreach (var history in ViewBag.History)
					{
						//@history.Tour.AnhTour
						<section class="product-details spad">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="product__details__pic">
										<div class="product__details__pic__item">
											<img class="product__details__pic__item--large"
												 src="@Url.Content("~/Media/ImagesTour/"+@history.Tour.AnhTour +".jpg")" alt="">
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 style="float: right;">
									<div class="product__details__text">
										<h3>@history.Tour.TenTour</h3>
										<div class="product__details__rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
											<span>(18 reviews)</span>
										</div>
											<div class="product__details__price"> @history.Tour.Gia</div>

										<div class="product__details__quantity">
											<div class="quantity">
												<div class="pro-qty">
												</div>
											</div>
										</div>
										<a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
										<ul style="font-size: 16px;">
												<li><b>Nơi khởi hành : </b> <span>@history.Tour.NoiKhoiHanh</span></li>
												<li><b>Nơi đến: </b> <span>@history.Tour.DiaDiem</span></li>
												<li><b>Ngày bắt đầu :</b> <span>@history.Tour.NgayBd</span></li>
												<li><b>Ngày kết thúc:</b> <span>@history.Tour.NgayKt</span></li>
												<li><b>Số vé đặt :</b> <span>@history.Cthd.SoVe</span></li>
												<li><b>Ngày đặt :</b> <span>@history.HoaDon.CreatedDate</span></li>
												<li><b>Tổng tiền:</b> <span>@history.HoaDon.TongTien</span></li>
												<a asp-controller="HomeCustomer" asp-action="Booking" asp-route-tourId="@history.Tour.MaTour"><button class="btn btn-primary">Rebook Tour</button></a>
										</ul>
									</div>
								</div>
							</div>	
						</div>
					</section>


					

					}
									
									
							
				</div>
						
                          
             </div>
           
       
    </main>
	


    <script src="../Template/TemplateMyAccount/js/jquery-3.3.1.min.js"></script>
    <script src="../Template/TemplateMyAccount/js/popper.min.js"></script>
    <script src="../Template/TemplateMyAccount/js/bootstrap.min.js"></script>
    <script src="../Template/TemplateMyAccount/js/main.js"></script>
</body>
</html>