@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_LayoutMyAccount.cshtml";
}

<h1 style="font-weight: bold; text-align: center;margin-bottom:20px">Lịch sử đặt Tour của bạn</h1>
@foreach (var history in ViewBag.History)
{
            <div class="row" style="margin-bottom: 30px">
                <div class="col-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                    <img class="product__details__pic__item--large" style="width: 400px; height: 400px"
                             src="@Url.Content("~/Media/ImagesTour/"+@history.Tour.AnhTour +".jpg")" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-6" style="float: right;">
                    <div class="product__details__text">
                        <h3>@history.Tour.TenTour</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price"> @history.Tour.Gia</div>

                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul style="font-size: 16px;">
                            <li><b>Nơi khởi hành : </b> <span>@history.Tour.NoiKhoiHanh</span></li>
                            <li><b>Nơi đến: </b> <span>@history.Tour.DiaDiem</span></li>
                            <li><b>Ngày bắt đầu :</b> <span>@history.Tour.NgayBd</span></li>
                            <li><b>Ngày kết thúc:</b> <span>@history.Tour.NgayKt</span></li>
                            <li><b>Số vé đặt :</b> <span>@history.Cthd.SoVe</span></li>
                            <li><b>Ngày đặt :</b> <span>@history.HoaDon.CreatedDate</span></li>
                            <li><b>Tổng tiền:</b> <span>@history.HoaDon.TongTien</span></li>
                            <a asp-controller="HomeCustomer" asp-action="Booking" asp-route-tourId="@history.Tour.MaTour"><button class="btn btn-primary">Rebook Tour</button></a>
                        </ul>
                    </div>
                </div>
            </div>
}
